doctype html
html
  head
    title= title + ' - CMS Statistic'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/pivot.min.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    //script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(src='/javascripts/pivot.min.js')
    script(src='/javascripts/linq.min.js')
    script(src='/javascripts/amcharts/amcharts.js')
    script(src='/javascripts/amcharts/pie.js')
    script(src='/javascripts/amcharts/serial.js')
    block scripts
  body
    div(id='nav')
      a(class='btn btn-link', href='/live') Live
      a(class='btn btn-link', href='/live/summary') Summary
      //a(class='btn btn-link', href='/report') Report
      //a(class='btn btn-link', href='/report/CMS') Project Trend
    div(id='main')
      block content
    div.footer
      span © 2015 National Library Board Singapore