extends ../layout

block scripts

    script(type='text/javascript').
       var data = !{JSON.stringify(renderData)}

       $(document).ready(function(){

        var sum = $.pivotUtilities.aggregatorTemplates.sum;
        var numberFormat = $.pivotUtilities.numberFormat;
        var intFormat = numberFormat({digitsAfterDecimal: 0}); 
        var chart = AmCharts.makeChart("chartdiv", {
        "type": "serial",
        "theme": "light",
        "marginRight": 80,
        "autoMarginOffset": 20,
        "dataDateFormat": "YYYY-MM-DD",
        "valueAxes": [{
        "id": "v1",
        "axisAlpha": 0,
        "position": "left"
        }],
        "balloon": {
        "borderThickness": 1,
        "shadowAlpha": 0
        },
        "graphs": [{
        "id": "g1",
        "bullet": "round",
        "bulletBorderAlpha": 1,
        "bulletColor": "#FFFFFF",
        "bulletSize": 5,
        "hideBulletsCount": 50,
        "lineThickness": 2,
        "title": "red line",
        "useLineColorForBulletBorder": true,
        "valueField": "total",
        "balloonText": "<div style='margin:5px; font-size:19px;'><span style='font-size:13px;'>[[category]]</span><br>[[total]]</div>"
        }],
        "chartScrollbar": {
        "graph": "g1",
        "oppositeAxis":false,
        "offset":30,
                           "scrollbarHeight": 80,
                           "backgroundAlpha": 0,
                           "selectedBackgroundAlpha": 0.1,
                           "selectedBackgroundColor": "#888888",
                           "graphFillAlpha": 0,
                           "graphLineAlpha": 0.5,
                           "selectedGraphFillAlpha": 0,
                           "selectedGraphLineAlpha": 1,
                           "autoGridCount":true,
                           "color":"#AAAAAA"
               },
               "chartCursor": {
           "pan": true,
                   "valueLineEnabled": true,
                   "valueLineBalloonEnabled": true,
                   "cursorAlpha":0,
                   "valueLineAlpha":0.2
       },
       "categoryField": "date",
               "categoryAxis": {
           "parseDates": true,
                   "dashLength": 1,
                   "minorGridEnabled": true
       },
       "export": {
           "enabled": true
       },
       "dataProvider":data
        });
        chart.addListener("rendered", zoomChart);
        zoomChart();
        function zoomChart() {
            chart.zoomToIndexes(chart.dataProvider.length-12, chart.dataProvider.length - 1);
            }
        });
      
block content
    h1= "Project Trend - "+ project

    each thing in projects
      a(class='btn btn-link', href='/report/'+thing.name) #{thing.name}
    hr
    div.row
        div.col-md-12
            div(id='chartdiv' class='chartdiv')


  
  
  